    <h1>About Us</h1>
    <p>
      <a href="http://railstutorial.org/">The Blogging Site</a>
      is a project for writing code about web development
      using the <a href="http://rubyonrails.org/">Rails Framework</a>.Here one 
      can share code and comment on other applications or projects .
    </p>
  
