<h1>Help</h1>
<p>
  Get help on blogging app at the
  <a href="http://railstutorial.org/help">Rails Tutorial help page</a>.
  To get help on Just Blogging About It! App, see the
  <a href="http://railstutorial.org/book">Rails Tutorial Blogging</a>.
</p>

