    <h1>Help page</h1>
    <p>
      This is the help page of Just Blogging About It! App.<br />
      To get help sent <a href="http://realcomment.heroku.com">at
        the blogging page.</a>
          </p>
  
